*.autosave
*.pyc
*.user
*~
.*.swp
.DS_Store
.sw[a-z]
tags
tegra/
Makefile
*.tmp
*.cmake
CMakeFiles
*.gch
CMakeCache.txt
cvconfig.h
install_manifest.txt
junk/
bin/
lib/
opencv2/
unix-install/
modules/**/opencl_kernels.[ch]pp
modules/core/version_string.inc
modules/**/*.cxx
modules/**/precomp.hpp
!modules/**/src/precomp.hpp
modules/**/test_precomp.hpp
!modules/**/test/test_precomp.hpp
modules/**/perf_precomp.hpp
!modules/**/perf/perf_precomp.hpp
modules/python/*generated*
